<div class="container-fluid contenedor-curriculum-principal">
    <div class="row fila-curriculum-principal">
        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 columna-curriculum-principal-foto">
            <div class="principal-foto">
                <div class="foto"></div>
                <div class="foto-gradiente"></div>
            </div>
            <div class="principal-foto-nombre">
                <h2>AMPELIO PLASCENCIA</h2>
            </div>
            <div class="principal-foto-titulo">
                <p>Desarrollador fullstack</p>
            </div>
        </div>
        
        <!--COLUMNA DATOS CONTACTO-PRESENTACIÓN-->
        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 columna-curriculum-principal-contacto-presentacion">
            <div class="principal-contacto">
                <div class="contacto-left">
                    <div class="contacto-left-fila">
                        <div class="contacto-left-icono">
                            <i class="fa-solid fa-mobile-screen-button icono-contacto"></i>
                        </div>
                        <div class="contacto-left-texto">
                            <p>55-2529-1758</p>
                        </div>
                    </div>
                    <div class="contacto-left-fila">
                        <div class="contacto-left-icono">
                            <i class="fa-solid fa-envelope-open icono-contacto"></i>
                        </div>
                        <div class="contacto-left-texto">
                            <p>ampeliodev&#64;hotmail.com</p>
                        </div>
                    </div>
                    <div class="contacto-left-fila">
                        <div class="contacto-left-icono">
                            <i class="fa-brands fa-linkedin icono-contacto-linkedin"></i>
                        </div>
                        <div class="contacto-left-texto">
                            <a href="http://www.linkedin.com/in/ampelio-dev-cv">ampelio-dev-cv</a>
                        </div>
                    </div>
                </div>
                <div class="contacto-right">
                    <div class="contacto-right-fila">
                        <div class="contacto-right-icono">
                            <i class="fa-brands fa-square-github icono-contacto"></i>
                        </div>
                        <div class="contacto-right-texto">
                            <a href="https://github.com/ampelio-mx?tab=repositories">ampelio-mx</a>
                        </div>
                    </div>
                    <div class="contacto-right-fila"></div>
                    <div class="contacto-right-fila"></div>
                </div>
            </div>
            <div class="principal-presentacion">
                <p>
                    Entre las habilidades duras se encuentran la gestión de proyectos de software, administración
                    estratégica, calidad del software, redes, administración de bases de datos, ingeniería de software y
                    programación.
                </p>
                <br>
                <p>
                    Los lenguajes en los que me he enfocado son, para el frontend, HTML, CSS, BootStrap, Thymeleaf y
                    Javascript. Para el backend Java y Spring Boot. Bases de datos SQL .
                </p>
            </div>
        </div>
        <!--COLUMNA DATOS CONTACTO-PRESENTACIÓN-->

         <!--COLUMNA SKILLS-->
         <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 columna-curriculum-principal-skills">
            <div class="principal-hard-skills">
                <div class="hard-skills-titulo">
                    <h2>HABILIDADES</h2>
                </div>
                <div class="hard-skills-contenido">
                    <div class="skills-contenido-fila">
                        <div class="skills-fila-icono">
                            <i class="fa-brands fa-html5 habilidad-ico" style="color: rgba(0, 83, 121, 1);"></i>
                        </div>
                        <div class="skills-fila-texto">
                            <p>HTML</p>
                        </div>
                    </div>
                    <div class="skills-contenido-fila">
                        <div class="skills-fila-icono">
                            <i class="fa-brands fa-css3-alt habilidad-ico" style="color: rgba(0, 83, 121, 1);"></i>
                        </div>
                        <div class="skills-fila-texto">
                            <p>CSS</p>
                        </div>
                    </div>
                    <div class="skills-contenido-fila">
                        <div class="skills-fila-icono">
                            <i class="fa-brands fa-js habilidad-ico" style="color: rgba(0, 83, 121, 1);"></i>
                        </div>
                        <div class="skills-fila-texto">
                            <p>JS</p>
                        </div>
                    </div>
                    <div class="skills-contenido-fila">
                        <div class="skills-fila-icono">
                            <i class="fa-brands fa-angular habilidad-ico" style="color: rgba(0, 83, 121, 1);"></i>
                        </div>
                        <div class="skills-fila-texto">
                            <p>Angular</p>
                        </div>
                    </div>
                    <div class="skills-contenido-fila">
                        <div class="skills-fila-icono">
                            <div class="icono-ionic"></div>
                        </div>
                        <div class="skills-fila-texto">
                            <p>Ionic</p>
                        </div>
                    </div>
                    <div class="skills-contenido-fila">
                        <div class="skills-fila-icono">
                            <div class="icono-thymeleaf"></div>
                        </div>
                        <div class="skills-fila-texto">
                            <p>Thymeleaf</p>
                        </div>
                    </div>
                    <div class="skills-contenido-fila">
                        <div class="skills-fila-icono">
                            <div class="icono-java"></div>
                        </div>
                        <div class="skills-fila-texto">
                            <p>Java</p>
                        </div>
                    </div>
                    <div class="skills-contenido-fila">
                        <div class="skills-fila-icono">
                            <i class="fa-brands fa-bootstrap habilidad-ico" style="color: rgba(0, 83, 121, 1);"></i>
                        </div>
                        <div class="skills-fila-texto">
                            <p>BootStrap</p>
                        </div>
                    </div>
                    <div class="skills-contenido-fila">
                        <div class="skills-fila-icono">
                            <div class="icono-springboot"></div>
                        </div>
                        <div class="skills-fila-texto">
                            <p>SpringBoot</p>
                        </div>
                    </div>
                    <div class="skills-contenido-fila">
                        <div class="skills-fila-icono">
                            <i class="fa-solid fa-database habilidad-ico" style="color: rgba(0, 83, 121, 1);"></i>
                        </div>
                        <div class="skills-fila-texto">
                            <p>SQL</p>
                        </div>
                    </div>
                    <div class="skills-contenido-fila">
                        <div class="skills-fila-icono">
                            <div class="icono-firebase"></div>
                        </div>
                        <div class="skills-fila-texto">
                            <p>FireBase</p>
                        </div>
                    </div>
                    <div class="skills-contenido-fila">
                        <div class="skills-fila-icono">
                            <i class="fa-brands fa-android habilidad-ico" style="color: rgba(0, 83, 121, 1);"></i>
                        </div>
                        <div class="skills-fila-texto">
                            <p>Android Movile</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="principal-soft-skills">
                <div class="soft-skills-titulo">
                    <h2>SOFT SKILLS</h2>
                </div>
                <div class="soft-skills-texto">
                    <div class="skills-texto">
                        <ul>
                            <li>Trabajo en equipo</li>
                        </ul>
                    </div>
                    <div class="skills-texto">
                        <ul>
                            <li>Capacidad de análisis</li>
                        </ul>
                    </div>
                    <div class="skills-texto">
                        <ul>
                            <li>Comunicación efectiva</li>
                        </ul>
                    </div>
                    <div class="skills-texto">
                        <ul>
                            <li>Enfoque a objetivos</li>
                        </ul>
                    </div>
                    <div class="skills-texto">
                        <ul>
                            <li>Autogestión y regulación del aprendizaje</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
         <!--COLUMNA SKILLS-->

        <!--COLUMNA PROYECTOS-FORMACIÓN-IDIOMAS-->
        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 columna-curriculum-principal-proyectos-formacion">
            <div class="principal-proyectos">

                <div class="proyectos-titulo">
                    <h2>PROYECTOS</h2>
                </div>
                <!--ACORDEÓN BOOTSTRAP-->
                <div class="accordion acordeon-proyectos" id="accordionExample">
                    <div class="accordion-item item-acordeon">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Carrito de compras Pizzas Gourmet Deli
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show cuerpo-acordeon" data-bs-parent="#accordionExample">
                            <div class="proyectos-seccion">
                                <div class="proyectos-seccion-texto">
                                    <p>
                                        Proyecto realizado para la empresa pizzas gourmet deli consistente en un carrito de compras,
                                        Proyecto realizado para la empresa pizzas gourmet deli consistente en un carrito de compras.
                                    </p>
                                    <br>
                                    <p>
                                        Proyecto realizado para la empresa pizzas gourmet deli consistente en un carrito de compras,
                                        Proyecto realizado para la empresa pizzas gourmet deli consistente en un carrito de compras.
                                    </p>
                                </div>
                                <div class="proyectos-seccion-link">
                                    <a href="http://www.pizzasgourmetdeli.com">www.pizzasgourmetdeli.com</a>
                                </div>
                                <div class="proyectos-seccion-link">
                                    <a href="http://www.pizzasgourmetdeli.com">www.pizzasgourmetdeli.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item item-acordeon">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Landing page Creative 3D
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse cuerpo-acordeon" data-bs-parent="#accordionExample">
                            <div class="proyectos-seccion">
                                <div class="proyectos-seccion-texto">
                                    <p>
                                        Proyecto realizado para la empresa pizzas gourmet deli consistente en un carrito de compras,
                                        Proyecto realizado para la empresa pizzas gourmet deli consistente en un carrito de compras.
                                    </p>
                                    <br>
                                    <p>
                                        Proyecto realizado para la empresa pizzas gourmet deli consistente en un carrito de compras,
                                        Proyecto realizado para la empresa pizzas gourmet deli consistente en un carrito de compras.
                                    </p>
                                </div>
                                <div class="proyectos-seccion-link">
                                    <a href="http://www.pizzasgourmetdeli.com">www.pizzasgourmetdeli.com</a>
                                </div>
                                <div class="proyectos-seccion-link">
                                    <a href="http://www.pizzasgourmetdeli.com">www.pizzasgourmetdeli.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item item-acordeon">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Cotización proyectos 
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse cuerpo-acordeon" data-bs-parent="#accordionExample">
                            <div class="proyectos-seccion">
                                <div class="proyectos-seccion-texto">
                                    <p>
                                        Proyecto realizado para la empresa pizzas gourmet deli consistente en un carrito de compras,
                                        Proyecto realizado para la empresa pizzas gourmet deli consistente en un carrito de compras.
                                    </p>
                                </div>
                                <div class="proyectos-seccion-link">
                                    <a href="http://www.pizzasgourmetdeli.com">www.pizzasgourmetdeli.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--ACORDEÓN BOOTSTRAP-->


            </div>

            <div class="principal-formacion">
                <div class="formacion-titulo">
                    <h2>FORMACIÓN ACADÉMICA</h2>
                </div>
                <div class="formacion-datos">
                    <div class="formacion-datos-carrera">
                        <h3>Universidad Virtual del Estado de Guanajuato</h3>
                        <p>Ingeniería en Sistemas Computacionales (2020-2024)</p>
                    </div>
                </div>
            </div>
            <div class="principal-idiomas">
                <div class="idiomas-titulo">
                    <h2>IDIOMAS</h2>
                </div>
                <div class="idiomas-datos">
                    <div class="idiomas-datos-izquierda">
                        <p>Español</p>
                        <p>Inglés</p>
                    </div>
                    <div class="idiomas-datos-derecha">
                        <p>Nativo</p>
                        <p>Intermedio/avanzado</p>
                    </div>
                </div>
            </div>
        </div>
        <!--COLUMNA PROYECTOS-FORMACIÓN-IDIOMAS-->
    </div>
</div>